// bower:scss
// endbower

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$enemyWidth: 3%;
$enemyHeight: 6%;

$playerWidth: 3%;
$playerHeight: 14%;

.camera {
  position: absolute;
  border: 3px solid #00f;  
  overflow: scroll;
  width: 100%; height: 100%;
}
// .scene {
//   position: absolute;
//   border: 3px solid #00f;
//   width: 200%; height: 100%;
// }
// .scene-animation {
// // animation: 4s linear 0s infinite alternate scrollScene; 
// }
.terrain {  
  position: absolute;
  border: 3px solid #0f0;
  bottom: 0;
  width: 100%; height: 15%;  
}
.score-board {
  position: absolute;
  top: 20%; left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  color: #E12DF3;
}
.player {
  position: fixed;
  bottom: 15%; left: 50%;
  transform: translateX(-50%);
  width: $playerWidth; height: $playerHeight;
  background: #0f0;
  transition: bottom 400ms ease-in;
  &.jump {
    transition: bottom 400ms ease-out;
    bottom: 70%;
  }
}
.enemy {
  position: absolute;
  bottom: 15%;
  right: -$enemyWidth;
  width: $enemyWidth; height: $enemyHeight;
  // transform: translateX(-$enemyWidth);
  background: #f00;
  // animation: 2s linear 0s scrollEnemy;
}

// ANIMATION
@keyframes scrollEnemy {
  from { 
    right: -$enemyWidth;
  }
  to 
  { 
    right: 100%;
  }
}


@keyframes scrollScene {
  from { 
    left: 0
  }
  to 
  { 
    left: -200%;
  }
}